@font-face {
    font-family: Roboto;
    src: url(../roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 100 1000;
}

@font-face {
    font-family: Shirkhand;
    src: url(../shirkhand/Shrikhand-Regular.ttf) format('trurtype');
    font-weight: 100 1000;
}
