@import "./utils/variables";
@import "./layout/form";
@import "./components/pageresto";
@import "./components/pageaccueil";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.spin {
    height: 100px;
    width: 100px;
    border: 2px solid red;
    &__header {
        &__container {
            &__load {
                 width: $size*10;
                 height: $size*7.5;
                 display: flex;
                 justify-content: space-evenly;
                 position: absolute;
                 &__bar {
                     background-color: $primary_color;
                     height: 100%;
                     width: $size;
                     animation: bars 1000ms backwards infinite ease-in-out alternate;
                     @for $i from 1 through 5 {
                         &--#{$i} {
                             animation-delay: 1000ms * $i;
         
                         }
                     }
 
                     &--1 {
                         animation-delay: 200ms;
                     }
                     
                     &--2 {
                         animation-delay: 400ms;
                     }
                     
                     &--3 {
                         animation-delay: 600ms;
                     }
                     
                     &--4 {
                         animation-delay: 800ms;
                     }
                     
                     &--5 {
                         animation-delay: 1000ms;
                     }
                 }
             }
         }   
     }
}

.header {
    &__logo {
        text-align: center;
        box-shadow:  0 0 8px #d4d4d4;
        padding: 10px;
        font-family: 'Shirkhand', cursive;
        margin: 0;
        color: blue;
    }
} 

main {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #353535;
    color: white;
    height: 198px;

    .footer__logo {
        padding: 27px 0 0 20px;
    }

    ul {
        list-style-type: none;
        height: 95px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .utensils::before {
            font-family: 'FontAwesome';
            content: "\f2e7";
            margin-right:15px;
        }

        .handshake::before {
            font-family: 'FontAwesome';
            content: "\f4c4";
            margin-right:15px;
        }

        .contact__a {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}