.header {
   &__logo--position {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      &__titre {
         text-decoration: none;
         color: black;
         height: auto;
         flex: 2;
   
         h1 {
            margin: 0;
         }
      }

      &__arrow {
         text-decoration: none;
         color: black;
         padding: 0;
         margin: 0;
         background-color: $white_background;
         font-family: 'Shirkhand';
         height: fit-content;
         font-size: 20px;
         border: none;
         height: auto;
         flex: 0;
      }
   }
}

.image_rest {
   height: 282px;
   object-fit: cover;
}

.mainpages2 {
   border-radius: 24px 24px 0 0;
   background-color: #f6f6f6;
   padding: 14px;
   margin-top: -59px;

   &__restname {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
         font-family: 'Shirkhand', cursive;
      }
   }
}

.menupart {

   & h3 {
      font-weight: normal;
      border-bottom: solid $tertiary_color;
      border-width: 5px;
      width: 46px;
      padding-bottom: 10px;
      text-transform: uppercase;

   } 

   &__ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 14px;
      flex-direction: column;
      animation: progress 3s;

      &__li{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         background-color: $white_background;
         border-radius: 16px;
         box-shadow: 0px 2px 10px #c9c9c9;
         animation: progress 1s ease-out;
         animation-fill-mode: both;
         transform-origin: bottom;

         &__icon{
            display: none;
            justify-content: center;
            align-items: center;
            background-color: $tertiary_color;
               
            & i {
               color: $white-text-color;
               font-size: 24px;
            }
         }

         &:hover{
            &>.menupart__ul__li__icon {
               display: flex;
               border-radius: 0 16PX 16PX 0;
               animation-name: hover;
               animation-duration: 0.3s;
               animation-timing-function: linear;
               animation-delay: 0s;
               animation-fill-mode: forwards;

               & > i {
                  animation: 0.3s linear 0s rotate;                  
               }
            }
         }

         &__titre {
            margin-left: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;

            h4 {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               margin: 16px 0 8px 0;
            }

            p {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               margin: 0 0 12px 0;
            }
         }
   
         &__prix {
            p {
               display: flex;
               align-items: flex-end;
               font-weight: 700;
               padding-left: 8px;
               margin: 41px 24px 16px 16px;
            }
         }
      }
   }
}

.commander {
   display: flex;
   justify-content: center;
   &__button {
      text-align: center;
      @include button-principal;
      
      &:hover {
         @include button-principal_hover;
      }
   }
}