@font-face {
   font-family: Roboto;
   src: url(../roboto/Roboto-Regular.ttf);
}
@font-face {
   font-family: Roboto-bold;
   src: url(../roboto/Roboto-Bold.ttf);
}
@font-face {
   font-family: Roboto-thin;
   src: url(../roboto/Roboto-Thin.ttf);
}
@font-face {
   font-family: Shirkhand;
   src: url(../shirkhand/Shrikhand-Regular.ttf);
   font-size: 100 1000;
}

.header {
   &__logo--position {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;

      a {
         text-decoration: none;
         color: black;
         height: auto;
   
         h1 {
            margin: 0;
         }
      }

      &__button {
         padding: 0;
         margin: 0;
         background-color: white;
         font-family: 'Shirkhand';
         height: fit-content;
         font-size: 20px;
         border: none;
         height: auto;
      }
   }
}

.image_rest {
   height: 200px;
}

.mainpages2 {
   border-radius: 24px 24px 0 0;
   background-color: #f6f6f6;
   padding: 14px;

   &__restname {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
         font-family: 'Shirkhand', cursive;
      }
   }
}

.menupart {

   & h3 {
      font-weight: normal;

      &::after  {
         content : "";
         position: absolute;
         left    : 0;
         bottom  : 0;
         height  : 1px;
         width   : 50%;
         border-bottom:2px solid #99e2d0;
      }
   } 

   &__ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 14px;
      flex-direction: column;
      animation: progress 3s;

      &__li{
         display: flex;
         flex-direction: row;
         // align-items: center;
         justify-content: space-between;
         background-color: white;
         border-radius: 16px;
         box-shadow: 0px 2px 10px #c9c9c9;
         animation: progress 1s ease-out;
         animation-fill-mode: both;
         transform-origin: bottom;
         // position: relative;

         &__icon{
            display: none;
            justify-content: center;
            align-items: center;
            background-color: $tertiary_color;
               
            & i {
               color: white;
               font-size: 24px;
            }
         }

         &:hover{
            &>.menupart__ul__li__icon {
               display: flex;
               border-radius: 0 16PX 16PX 0;
               animation-name: hover;
               animation-duration: 0.3s;
               animation-timing-function: linear;
               animation-delay: 0s;
               animation-fill-mode: forwards;

               & > i {
                  animation: 0.3s linear 0s rotate;                  
               }
            }
         }

         &__titre {
            margin-left: 12px;
            // line-height: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            flex: 1;

            h4 {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               margin: 16px 0 8px 0;
            }

            p {
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
               margin: 0 0 12px 0;
            }
         }
   
         &__prix {
            p {
               display: flex;
               align-items: flex-end;
               font-weight: 700;
               padding-left: 8px;
               margin: 41px 24px 16px 16px;
            }
         }
      }
   }
}

.commander {
   text-align: center;
   &__lien {
      &:hover {
         @include grow ;
      }
      &__button {
         @include button-principal;
         text-align: center;
      }
   }
}