$primary_color : #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;

// option 1 shadow 
$heading-shadow-size: 0.55rem;
@mixin heading-shadow($color: $primary_color, $shadow-size: $heading-shadow-size){
    text-shadow: $shadow-size solid darken($color: #000000, $amount: 0) $color;
}

// Mixin button all pages 
@mixin button-principal {
    border-radius: 100px;
    background: linear-gradient($secondary_color, $primary_color);
    color: white;
    border: none;
    box-shadow: 4px 4px 4px #d4d4d4;
    padding: 18px 24px 18px 24px;
    font-weight: bold;
    font-size: 14PX;
}

// Mixin box-shadow all pages 
@mixin box-shadow {
    box-shadow: 4px 4px 4px #d4d4d4;
}

// Mixin grow on hover all pages 
@mixin grow {
    transform: scale(1.05);
}


// Breakpoints des medias queerie
$breakpoints: (
    mobile: 872px
);

// Mixin Media querie for .fonctionnement
@mixin fonctionnement {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}



// Keyframes animation progess menu page 
@keyframes progress {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// Keyframes animation opacity option 1
@keyframes opacity-check { 
    0% { opacity: 0; } 
    25% { opacity: 0.25; } 
    50% { opacity: 0.5; } 
    75% { opacity: 0.75; } 
    100% { opacity: 1; } 
}

// Animation delay for menu pages 
$total-items: 5;
@for $i from 1 through $total-items {
  li:nth-child(#{$i}) {
    animation-delay: 1s * $i;
  }
}

// Keyframe loader

@keyframes bars {
    0% {
        transform: scaleY(0.5);
        visibility:visible;
        opacity: 1;
        
    }
    100% {
        transform: scaleY(1.0);
        visibility:hidden;
        opacity: 0;
    }
}


$size: 3vh;

@keyframes loader__page { 
    0% {
        transform: rotate(100deg);
        visibility:visible;
        opacity: 1;
    }
    50%{
        transform: rotate(180deg);
        visibility:visible;
        opacity: 1;
    }

    90% {
        opacity: 0.6;
    }

    100% {
        transform: rotate(360deg);
        visibility:hidden;
        opacity: 0;
    }
}

@keyframes fade {
    from{
      opacity:1;
      display: block;
    }
    to{
      opacity:0;
      display:none;
    }
}
